.clothes {
  display: flex;
  height: 100%;
}

.accessories {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.377);
  max-width: 600px;
  margin-right: 10px;
}

.clothingSet {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.377);
  max-width: 600px;

}

.imgContainer {
  height: 95%;
}

.headItem img {
  object-fit: contain;
  min-width: 0;
}

.bodyClothes img {
  object-fit: contain;
  min-width: 0;
  flex: 0 1 100%;
}

.pant img {
  object-fit: contain;
  min-width: 0;
  flex: 0 1 100%;
}

.shoes img {
  object-fit: contain;
  min-width: 0;
  flex: 0 1 100%;
}

.headItem {
  height: 15%;
  width: 200px;
  justify-content: center;
}

.bodyClothes {
  height: 30%;
  max-width: 600px;
}

.pant {
  height: 30%;
  max-width: 600px;
  width: 300px;
}

.shoes {
  height: 15%;
  max-width: 600px;
  width: 200px;
}

.accessoriesDiv {
  height: 80%;
  max-width: 600px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accessoriesDiv img {
  object-fit: contain;
height: 100px;
}

.fontText {
  font-family: Courier, Verdana, sans-serif;
  padding: 5px;
}
