.accessories {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.377);
  margin-right: 10px;
}

.clothingSet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.377);
}

.imgContainer {
  flex-grow: 1;
}

.headItem img {
  max-height: 100px;
  min-width: auto;
}

.bodyClothes img {
  max-height: 200px;
  width: auto;
}

.pant img {
  max-height: 300px;
  width: auto;
}

.shoose img {
  max-height: 150px;
  width: auto;
}

.accessoriesDiv img {
  max-height: 150px;
  width: auto;
}
