body {
  all: unset;
  background-image: url(https://cdn.pixabay.com/photo/2019/09/20/06/01/watercolor-background-4490904_1280.jpg);
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  font-family: Courier, Verdana, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}


.Clothes {
  flex-grow:1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sidebar {
  left: 0;
  max-width: 20%;
  height: 400px;
}

.navLink {
  text-decoration: none;
}

.navLink:hover {
  text-decoration: none;
  background-color: #ecf0f1;
}

.form {
  flex-grow:10;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.signup {
  width: 400px;
}

.signup input {
  margin: 10px;
}

.signup button {
  width: 250px;
}
