body {
  all: unset;
}

#root {
  background-image: url(https://avatanplus.com/files/resources/original/5784810963445155dd980cbf.jpg);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.header {
  margin: 5px;
  flex-grow:1;
}

.Weather {
  flex-grow:1;
}

.mainComponent {
  display: flex;
  flex-grow:10;
}

.ControlPanel {
  flex-grow:1;
  max-width: 500px;
  padding: 10px;
}

.SelectionMenu {
  flex-grow:1;
  background-color: khaki;
  border: solid 1px black;
}

.Clothes {
  flex-grow:1;
  /* background-color: oldlace;
  border: solid 1px black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: rgb(238, 224, 246);
  border: solid 1px black;
  flex-grow:1;
}


