body {
  all: unset;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  border: solid 1px black;
  flex-grow:1;
}

.Weather {
  border: solid 1px black;
  flex-grow:1;
}

.mainComponent {
  display: flex;
  flex-grow:10;
}

.ControlPanel {
  flex-grow:1;
  background-color: rgb(168, 240, 140);
  border: solid 1px black;
  max-width: 500px;
  padding: 10px;
}

.SelectionMenu {
  flex-grow:1;
  background-color: khaki;
  border: solid 1px black;
}

.Clothes {
  flex-grow:1;
  background-color: oldlace;
  border: solid 1px black;
}

.footer {
  background-color: rgb(218, 170, 246);
  border: solid 1px black;
  flex-grow:1;
}
