.footer {
  /* background-color: rgb(238, 224, 246);
  border: solid 1px black;
  flex-grow:1; */
  position: absolute;
  min-height: 50px;
  bottom: 0;
  height: 25px;
  width: 100%;
  background-color:rgba(236, 240, 241,0.7);
  font-size: 20px;
  font-family: Courier, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: rgba(52, 152, 219,1.0);
}

.link:hover {
  text-decoration: none;
  color:rgba(0, 206, 201,1.0);
}
