.types {
  display: flex;

}

.head img {
  height: 100px;

}

.body img {
  height: 150px;

}

.legs img {
  height: 200px;

}

.boots img {
  height: 100px;

}

.pic {
  height: 90px;
  width: fit-content;
}

.pic img {
  height: 100%;
  width: auto;
}

.wardrobe {
  display: flex;
  flex-wrap: wrap;
}
